/* GLOBAL STYLES */



body{
    font-family: 'Josefin Sans', sans-serif;
}

img{
  width: 100%;
}


a {
  text-decoration: none;
  color: black;

}

a:hover{
  color: red;
  opacity: .7;
}

header ul{
  font-size: 1.2em;
  list-style: none;
  text-align: center;
  display: inline-flex;
  background-color: none;
  margin: 25px 30px;
  padding: 0;
}

header li {
  padding: 0 10px;
}

.bigtitle{
  text-align: center;
  font-size: .9em;
  margin-top: 10px;
  padding:200px 0 300px 0;
}

footer{
  text-align: center;
}

@media screen and (min-width:600px) {

  .wrapper{
    max-width:1250px;
    margin: 0 auto;
  }

  header li{
    display: inline;
    font-size: .8em;
    margin-top: 0px;

  }
header ul{
  float: right;
  padding-right: 20px;
}

.bigtitle{
  font-size: 1em;
  max-width: 600px;
  margin:0 auto;
  padding: 250px 0 375px 0;

}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

footer{
  text-align: center;
}

}
