/* GLOBAL STYLES */

*, *:before, *:after {
  box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;

}

img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}


a {
  text-decoration:none;
  text-shadow: 1px 1px	tomato;
  color: black;

}

a:hover{
  color: red;
  opacity: .7;
}
      nav{
        text-align: center;
        padding: 2rem 0 0 0;

      }

      header ul{
        font-size: 1.2em;
        list-style: none;
        align-items: center;
        display:inline-flex;
        margin:auto;
        padding: 0;

      }

      header li {
        padding: 0 10px;
      }

.bigtitle{
  visibility: hidden;
  text-align: center;
  font-size: .9em;
  height: 1rem;

}

      .container {
      padding: 0 .5rem;
      }
      .responsive-image {
        width: 100%;
      }

      .cell{
        margin: 1rem;
      }
      .cell img {
        display: block;


      }
      .tooltip {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    }
    .tooltip:hover{
      visibility: visible;
      }


footer{
  text-align: center;
  float: bottom;
  margin-top: 3rem;
  color: grey;
}
/***************IPAD**********************/
@media screen and (min-width:600px){
  .wrapper{
    max-width: 900px;
  }

  .bigtitle{
    visibility: visible;
    text-align: center;
    font-size: .9em;
    height: 5rem;
    padding: 6rem 0 ;
    /*text-shadow: 1px 1px tomato;
    color: navy;*/

  }

  .grid {
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
   }
   .cell {
     width: calc(50% - 2rem);
   }

    img:hover{
     opacity: .5;
     cursor: cell;
   }

    img:hover .tooltip{
     visibility: visible;
     }





}

/***************DESKTOP**********************/


@media screen and (min-width:800px) {

  .wrapper{
    max-width:1000px;
    margin: 0 auto;
  }

    nav{

    }
      header li{
        display: inline;
        font-size: 1em;
        margin-top: 1rem;

      }
    header ul{
      float: right;
      padding-right: 20px;
      padding-top: 10px;
      position: sticky;
      top: 0;
    }

.bigtitle{
  visibility: visible;
  font-size: .8em;
  max-width: 700px;
  margin:0 auto;
  padding: 8rem 0 ;
  height: 10rem;

}

    .grid {
       display: flex;
       flex-wrap: wrap;
       flex-direction: row;
     }
     .cell {
       width: calc(50% - 2rem);
     }

     img:hover{
       opacity: .5;
       
     }

      img:hover .tooltip{
       visibility: visible;
       }





footer{
  text-align: center;
}



}
