/* GLOBAL STYLES */

*, *:before, *:after {
  box-sizing: border-box;

}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fbfbfb


}

.wrapper{
  max-width: 340px;
  display: block;
  margin: 0 auto;
}

  .home-wrapper{

    display: block;
    margin: 0 auto;
  }
/*ALERT ALERT ALERT ALERT*/
      .alert {
        font-size: .8rem;
        padding:.3rem;
        background-color: #f44336;
        color: white;
        text-align: center;
      }

      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }

      .closebtn:hover {
        color: black;}

/*ALERT ALERT ALERT ALERT*/



img{
  width: 100%;
  height: auto;
  vertical-align: middle;
}


a{
  text-decoration:none;
  color: tomato;



}
a:hover{
  text-decoration:none;
  text-shadow: 1px 1px	tomato;
  color: black;

}
/*NAV NAV NAV NAV*/
    header{
      background:#fbfbfb;
      max-width: 340px;
      display: block;
      margin: 0 auto;
      position: sticky;
      top:0;
      z-index: 9999;

    }
    nav{
    text-align: center;
    padding-top: 1rem;
    max-height: 4.5rem;

    }
      .nav1{
        list-style: none;
        font-size: 1.2rem;
        text-align:left;
        display: inline;
        padding-right: 1.8rem;



      }

      .nav2{
        list-style: none;
        font-size: 1.2rem;
        display: inline;
        text-align: right;
        padding-left: 1.8rem;
        position: sticky;
      }
        .nav-style{

          color: black;
          text-shadow: 1px 1px	tomato;
        }
        .nav-style:hover{
          color: lightblue;
          text-shadow: 1px 1px	tomato;
        }
        .nav {
          text-decoration:none;
          text-shadow: 1px 1px	tomato;
          color: black;

        }

        .nav:hover{
          color: lightblue;
          opacity: .7;
        }



      header ul{
       list-style: none;
       display:inline-flex ;


      }


      header li {
        padding: 0  0  0 10px;
      }

/*NAV NAV NAV NAV*/
          .title-anime{
            display: block;
            margin: 0 auto;
            padding: 5rem 0 6rem 3rem ;
          }

                .info{
                  margin: 0;
                }



      .responsive-image {
        width: 100%;
      }

      .responsive-image:hover {
        opacity: .5;
        cursor: pointer;
      }

      .container{
        position: relative;
      }

      .cell{
        margin: 1rem;
      }
      .cell img {
        display: block;
        height: auto;
        width: 100%


      }

            .project{
              margin: 0 auto;
              padding: 1rem 0;
              width: 100%;
            }

      .next{
        text-align: center;
        font-size: 1.5em;
        padding: 1rem;

      }

/*INFO TEXT INFO TEXT*/

.info{
  text-align: left;
  padding-top: 1rem;
  max-width: 340px;
  margin: 0 auto;

}

/*INFO TEXT INFO TEXT*/
footer{
  text-align: center;
  font-size: .7rem;
  float: bottom;
  margin-top: 3rem;
  color: grey;
}
/***************IPAD**********************/
@media screen and (min-width:700px){
  .wrapper{
    max-width:500px;
    margin: 0 auto;
  }

  .home-wrapper{
    max-width:700px;
  }
    .title-anime{
        width: 50%;
      }

          header{
            max-width: 700px;
          }

          .nav1{
              padding-right: 12rem;
          }

          .nav2{
              padding-left: 12rem;
          }

          .title-anime{
            padding: 6rem 0 8rem 4rem ;
          }

  .grid {

     display: flex;
     flex-wrap: wrap;
     flex-direction: row;

   }
   .cell {
     width: calc(50% - 2rem);
   }


    img:hover .tooltip{
     visibility: visible;
     }

     .info{
       max-width: 500px;
       margin: 0 auto;
     }



}

/***************DESKTOP**********************/


@media screen and (min-width:800px) {
  .wrapper{
      max-width:500px;

    }
    .home-wrapper{
        max-width:900px;

      }

    .title-anime{
      width: 40%;
      padding: 8rem 0 10rem 0 ;
    }



.grid{
  margin-top: 0;


}

.project{
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}



.info{
    padding: 2rem 0;
    max-width: 600px;
    margin: 0 auto;

}

header{
  max-width: 900px;
  background:none;


}
.nav1{

    padding-right: 19rem;
}

.nav2{
  width: 400px;
    padding-left: 18.75rem;
}


/***************big DESKTOP**********************/


@media screen and (min-width:1400px) {
  .wrapper{
      max-width:700px;

    }
    .home-wrapper{
        max-width:1200px;

      }

      .info{
        max-width: 700px;
      }

      header{
        max-width: 1200px;
        background:none;


      }
      .nav1{

          padding-right: 30rem;
      }

      .nav2{
        width: 400px;
          padding-left: 25rem;
      }
