*{
  background: white;
  font-family:'Roboto', sans-serif;
}


.content{
  float: right;
  margin-right: 80px;
  margin-left: 20px;
  max-width: 750px;
  text-align: center;
  height: auto;
  overflow: hidden;
}

.screenshot{
  height: 400px;
  width: 650px
}

.editorial{
  width:75%

}

.pattern{
  width: 80%
}

.wrapper{
  position: fixed;
  max-width: 400px;
  margin-left: 20px;
  margin-top: 0;
  height: 1
}
.header{
  margin-left: 10px;
  margin-top: 20px;
}
.info{
  font-size: 20px;
  margin: 20px
}
.work{
  margin-left: 20px;
  font-size: 25px;
  padding: 0;
}
nav{
  margin: 30px;
}
.footer{
  font-size: 15px;
  margin-top: 50px;
  display: inline-flex;
  text-align: left;
}

.opening-image{
  float: right;
  max-width: 700px;
  overflow: hidden;

}
.self2{
  height:60%;
}
.social-icons{
  display: inline-flex;
  list-style: none;
  margin: 10px;
  text-align: left;
}
 .fa{
  color: inherit;
  list-style: none;
  margin: 0 10px;
}


button{
  margin-left:40px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color:lightyellow;
  border-radius: 5px
}
button:hover{
  cursor:pointer;
  background-color: yellow;
}
a:hover{
  background:#F48FB1;
  cursor: pointer;

}
.profile{
  float:left;
  display: inline-block;
  height: 250px;
  margin: 20px;
  border: 1px white;
}
ul{
  display: inline;
}
