*{
 background-color:white;
 font-family: 'Libre Baskerville', serif;
 color:#404040;

}

.wrapper{
  max-width: 850px;
  margin:0,auto;
}
.header{
  margin-left: 40px;
}
.aboutBox{
  background-color:#404040;
  display:none;
  border:1px solid;
  border-radius: 5px;
  padding: 10px;
  height: 300px;
  animation: aboutBox .7s
}
@keyframes aboutBox {
  50%{transform:translateY(10px);
  }

}
.aboutText{
  background-color:#404040;
  color: white;
}

button{
  margin: 10px;
  font-size: 15px;
  background-color:Gainsboro;
  border-radius: 5px
}
button:hover{
  cursor:pointer;
  background-color: yellow;
}
a:hover{
  background: yellow;
  text-decoration:none;

}
.profile{
  float:left;
  display: inline-block;
  height: 250px;
  margin: 20px;
  border: 1px white;
}
ul{
  display: inline block;
}

.illustration{
  display: none;
}
