.content{
  float: right;
  margin-right: 80px;
  margin-left: 20px;
  max-width: 800px;
  text-align: center;
  height: auto;
  overflow: hidden;
}

.screenshot{
  height: 400px;
  width: 650px
}

.editorial{
  width:75%

}
