*{
 background-color:white;
 font-family: 'Libre Baskerville', serif;
 color:#404040;

}

.wrapper{
  max-width: 850px;
  margin:0,auto;
}
a:hover{
  background: yellow;
  text-decoration:none;

}

.illustrationSub li{
  display: none;
}

.illustration:hover .illustrationSub li{
  display: block;
}

h1:hover{
  background-color:yellow;
}

.header{
  padding-left: 20px;
  max-width: px;
}



ul{
  padding: 20px;
}
li{
  list-style: none;
  padding: 5px;
  font-size: 20px;
}
.illustrationSub{
  display:none;
}
.illustrationSub li{
  font-size:15px;
  padding: 3px;


}

.fa{
  margin-top: 20px;
  padding-left: 10px;
  text-decoration: none;
  color: inherit;
}

#introPic{
  float:right;
  display: inline-flex;
  height: 500px;

}
